
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px; 

$text-font: "OpenSansCondensed", sans-serif;
$text-color: #ffffff;

$brand-color-darken: #262936;
$brand-color-lighten: #323544;

